ul li {
    font-size: 20px;
}
nav ul li:hover{
    color: rgb(50, 140, 243);
}

li a {
  position: relative;
  padding: 5px 0;
  transition: 0.3s;
}

li a::before,
li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: 0.3s;
}

li a::before {
  left: 50%;
}
li a::after {
  right: 50%;
}

li a:hover::before,
li a:hover::after {
  width: 50%;
}

.hero {
  position: relative;
  height: 100vh;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
 width: 100%;
height: 700px;
background-color: #09276e4b; 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}


.hero-content {
  background:  url();
  /* background: #6a70802c; */
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 700px;


}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color:white;
}

.hero-content h1 span {
  color: #2d6cfb;
}

.hero-content p {
  font-size: 1.1rem;
  margin: 20px 0 40px;
  color:white;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 14px 30px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn.primary {
  background: #2d6cfb;
  color: #fff;
}

.btn.primary:hover {
  background: #1b4fd8;
}

.btn.secondary {
  border: 2px solid #2d6cfb;
  color: white;
}

.btn.secondary:hover {
  background: #fff;
  color: #2d6cfb;
}
